# JVM / Java
*.class
hs_err_pid*
replay_pid*

# Logs
*.log

# Build outputs
/build/
/out/

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
.kotlin/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Archives
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

build/
/.idea/gradle.xml
